<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8" />
  <base href="/">
  <title>BESTAFF</title>
  <meta name="viewport" content="device-width,initial-scale=1, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
</head>

<body>
  <%- include('../../build/index.html') %>
</body>

</html>
